{% extends "base.html" %}

    {% block style %}
        .page-title {
            position: absolute;
            top: 5rem;       /* 5 rem desde arriba */
            left: 2rem;      /* 2 rem desde la izquierda */
            font-size: 2.8rem;
            font-weight: bold;
            color: #04014dff;
        }
        
        .btn-custom2 {
            position: absolute;
            top: 15rem;
            left: 10rem;
            font-size: 1.5rem;
            padding: 1rem 1rem;
            border-radius: 10px;
            background-color: #04014dff;
            color: white;
            border: none;
            text-decoration: none;
            /* separación ya controlada con gap del formulario */
        }
    {% endblock style %}
        
    {% block head %}
        <title>Acceso denegado</title>
    {% endblock head %}


    {% block body %}

        <h1 class="page-title">Acceso Denegado.
            Solo administradores pueden acceder a esta sección.
        </h1>

        <a href="{% url 'inicio' %}" class="btn-custom2">Volver al inicio</a>

    {% endblock body %}

