
{% extends "base.html" %}

    {% block style %}
        .page-title {
            position: absolute;
            top: 5rem;       /* 5 rem desde arriba */
            left: 2rem;      /* 2 rem desde la izquierda */
            font-size: 2rem;
            font-weight: bold;
            color: #04014dff;
        }

        .btn-custom2 {
            position: absolute;
            top: 15rem;
            left: 60rem;
            font-size: 1.5rem;
            padding: 1rem 1rem;
            border-radius: 10px;
            background-color: #04014dff;
            color: white;
            border: none;
            text-decoration: none;
            /* separación ya controlada con gap del formulario */
        }

    {% endblock style %}
        
    {% block head %}
        <title>Adopcion fallida</title>
    {% endblock head %}


    {% block body %}
               <!-- Titulo de pagina -->
        <div class="main-content">
        <h1 class="page-title">No existe un animal de esas caracteristicas en nuestro refugio animal</h1>
        </div>


        <a href="{% url 'adoptar' %}" class="btn-custom2">Volver</a>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock body %}

