{% extends 'base.html' %}

{% block head %}
    <title> Detalle </title>
{% endblock head %}

{% block style %}
    .page-title {
        position: absolute;
        top: 5rem;       /* Título arriba */
        left: 2rem;
        font-size: 2.8rem;
        font-weight: bold;
        color: #04014dff;
    }
    .animal-data {
        position: absolute;
        top: 10rem;      /* Un poco más abajo del título */
        left: 4rem;      /* Separado del borde izquierdo */
        font-size: 1.2rem;
        line-height: 2rem; /* Espacio entre renglones */
    }
    .btn-custom {
            position: absolute;
            top: 35rem;
            left: 12.5rem;
            font-size: 1.5rem;
            padding: 1rem 1rem;
            border-radius: 10px;
            background-color: #04014dff;
            color: white;
            border: none;
            text-decoration: none;
            /* separación ya controlada con gap del formulario */
        }
    .btn-custom2 {
            position: absolute;
            top: 35rem;
            left: 2.5rem;
            font-size: 1.5rem;
            padding: 1rem 1rem;
            border-radius: 10px;
            background-color: #04014dff;
            color: white;
            border: none;
            text-decoration: none;
            /* separación ya controlada con gap del formulario */
        }
    .imagen {
            position: absolute;
            top: 0rem;
            left: 25rem;
            max-width: 250%;  /* Nunca se sale del contenedor */
            max-height: 150%;     /* Mantiene proporciones */
            display: block;   /* Evita espacios raros debajo de la imagen */
            object-fit: contain; /* La ajusta sin recortarla */
            border-radius: 12px; /* Opcional, esquinas redondeadas */
            box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* Opcional, sombra suave */
    }
{% endblock style %}

{% block body %}
     <h1 class="page-title">Detalle del animal N°{{animal.id}}</h1>

     <div class="animal-data">
            <p><strong>Especie:</strong> {{animal.Especie}}</p>
            <p><strong>Raza:</strong> {{animal.Raza}}</p>
            <p><strong>Color:</strong> {{animal.Color}}</p>
            <p><strong>Sexo:</strong> {{animal.Sexo}}</p>
            <p><strong>Peso:</strong> {{animal.Peso}}</p>
            <p><strong>Edad aproximada:</strong> {{animal.Edad}}</p>
            <p><strong>Información adicional:</strong> {{animal.Info}}</p>
            {% if animal.imagen %}
            <img src={{animal.imagen.url}} alt="Imagen del animal" class='imagen'>
            {% else %}
            <h2>No hay imagen sobre este animal.</h2>
            {% endif %}
        </div>
    
        
    <form method="post" action="{% url 'detalle' animal.id %}">
    {% csrf_token %}
    <button type="submit" class="btn-custom">Adoptar Animal</button>
</form>    
    {% comment %} <a href="{% url 'adoptar' %}" class="btn-custom">Adoptar Animal</a> {% endcomment %}
    <a href="{% url 'actualizar_borrar' %}" class="btn-custom2">Volver</a>

{% endblock body %}