{% extends 'base.html' %}

{% block head %}
    <title>Cerrar Sesion</title>
{% endblock head %}

{% block style %}
        .page-title {
            position: absolute;
            top: 5rem;       /* 5 rem desde arriba */
            left: 2rem;      /* 2 rem desde la izquierda */
            font-size: 2.8rem;
            font-weight: bold;
            color: #04014dff;
        }
{% endblock style %}

{% block body %}

<h1 class="page-title">Cerraste sesion correctamente!</h1>




{% endblock body %}

