{% extends 'base.html' %}

{% block head %}
    <title>Editar perfil</title>
{% endblock head %}

{% block style %}
        .page-title {
            position: absolute;
            top: 5rem;       /* 5 rem desde arriba */
            left: 2rem;      /* 2 rem desde la izquierda */
            font-size: 2.8rem;
            font-weight: bold;
            color: #04014dff;
        }
        .form {
            position: absolute;
            top: 12rem; /* Ajusta la distancia entre título y formulario */
            left: 6rem;
            display: flex;
            flex-direction: column; /* Para que los inputs se apilen verticalmente */
            gap: 1rem; /* Espacio entre cada input dentro del formulario */
            width: 500px; /* Ancho opcional del formulario */
        }
        .btn-custom {
            position: absolute;
            top: 15rem;
            left: 20rem;
            font-size: 1.5rem;
            padding: 1rem 1rem;
            border-radius: 10px;
            background-color: #04014dff;
            color: white;
            border: none;
            /* separación ya controlada con gap del formulario */
        }
{% endblock style %}

{% block body %}
    <h1 class="page-title">Editar perfil</h1>
    <form action={% url "editar_perfil" %} method='POST' class="form">
        {% csrf_token %}
        {{formulario}}
        <input type="submit" value="Actualizar" class="btn-custom">
    </form>
{% endblock body %}