{% extends 'base.html' %}

{% block head %}
    <title>Perfil</title>
{% endblock head %}

{% block style %}
        .page-title {
            position: absolute;
            top: 5rem;       /* 5 rem desde arriba */
            left: 2rem;      /* 2 rem desde la izquierda */
            font-size: 2.8rem;
            font-weight: bold;
            color: #04014dff;
        }
    .user-data {
        position: absolute;
        top: 12rem;      /* Un poco más abajo del título */
        left: 5rem;      /* Separado del borde izquierdo */
        font-size: 1.2rem;
        line-height: 2rem; /* Espacio entre renglones */
    }
        .btn-custom {
            position: absolute;
            top: 30rem;
            left: 20rem;
            font-size: 1.5rem;
            padding: 1rem 1rem;
            border-radius: 10px;
            background-color: #04014dff;
            color: white;
            border: none;
            /* separación ya controlada con gap del formulario */
        }
        .btn-custom2 {
            position: absolute;
            top: 30rem;
            left: 40rem;
            font-size: 1.5rem;
            padding: 1rem 1rem;
            border-radius: 10px;
            background-color: #04014dff;
            color: white;
            border: none;
            /* separación ya controlada con gap del formulario */
        }               
{% endblock style %}

{% block body %}

<h1 class="page-title">Perfil</h1>
<div class="user-data">
            <p><strong>Nombre de usuario:</strong> {{user.username}}</p>
            <p><strong>Nombre:</strong> {{user.first_name}}</p>
            <p><strong>Apellido:</strong> {{user.last_name}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
        </div>
<a href = {% url "editar_perfil" %} class="btn btn-dark btn-custom"> Editar </a>
<a href = {% url "editar_contrasenia" %} class="btn btn-dark btn-custom2"> Editar contraseña </a>

{% endblock body %}